:root{
    --color-black: #333;
    --color-11: #F9A62B;
    --color-12: #FA5480;
    --color-13: #4390F8;
    --color-white: #fff;
    --diefault-trasition: all 0.2s linear;
    --deffault-font-family: 'Koulen';  cursive;
    --linear-gradient-overlay:linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,.8) 60%,#000 100%);
    --txt-nav-shadow: 1px 1px 1px rgb(0 0 0 / 40%)

    
 
     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#fff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    font-family: var(--deffault-font-family);

}
.container-fluid {
    width: 100%;
}

.container-fluid > .header {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center
}
.container-fluid > header > .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 10px;
    
}

.container-fluid > .header
.container-fluid > .nav > .content, 
.container-fluid > .container > .content {
    width: 60%;
}

.container-fluid > .nav {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center
}

.container-fluid > .nav > .content > ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.container-fluid > .nav > .content > ul > li > a {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: #fcfcfc;
    text-decoration: none;
    transition: var(--diefault-trasition);
}
.container-fluid > .nav > .content > ul > li > a:hover {
    color: rgb(186, 195, 202);

}
.container-fluid > .nav > .content > ul > li > a.active {
    color: rgb(186, 195, 202);
    background-color: brown;
    text-shadow: var(--txt-nav-shadow);
}
.container-fluid > .container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.container-fluid > .container > .content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}
.container-fluid > .container > .content > .content_left {
     width: 100%;
     background-color: aquamarine;
     display: grid;
     grid-template-columns: 60% 40%;
     grid-template-rows: repeat(2,250px);
}
.container-fluid > .container > .content > .content_left > a{
    position: relative;
}
.container-fluid > .container > .content > .content_left > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.container-fluid > .container > .content > .content_left > a > .overlay {
    background: var(--linear-gradient-overlay);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: var(--diefault-trasition);
    z-index: 6;
}
.container-fluid > .container > .content > .content_left > a:hover > .overlay {
    opacity: 1;
}
.container-fluid > .container > .content > .content_left > a > .flag {
    position: absolute;
    top: 10px;
    left: 0px;
    color: #fff;
    padding: 8px 12px;
    font-size: 13px;
    z-index: 7;
}
.container-fluid > .container > .content > .content_left > a > .flag::after {
    content: '';
    position: absolute;
    border-width: 37.5px 0px 0px 15px;
    top: 0px;   
    right: -15px;
    border-style: solid;

}
.container-fluid > .container > .content > .content_left > a:nth-child(1) > .flag {
    background-color: var(--color-11);
}
.container-fluid > .container > .content > .content_left > a:nth-child(2) > .flag,
.container-fluid > .container > .content > .content_left > a:nth-child(3) > .flag {
    background-color:var(--color-12)
}
.container-fluid > .container > .content > .content_left > a:nth-child(4) > .flag {
    background-color: var(--color-13);
}
.container-fluid > .container > .content > .content_left > a:nth-child(1) > .flag::after {
    border-color: transparent transparent transparent var(--color-11);

}
.container-fluid > .container > .content > .content_left > a:nth-child(2) > .flag::after,
.container-fluid > .container > .content > .content_left > a:nth-child(3) > .flag::after {
    border-color: transparent transparent transparent var(--color-12);

}
.container-fluid > .container > .content > .content_left > a:nth-child(4) > .flag::after {
    border-color: transparent transparent transparent var(--color-13);

}
.container-fluid > .container > .content > .content_left > a > .text_content {
    position: absolute;
    width: 85%;
    bottom: 30px;
    left: 20px;
    color: #fff;
    z-index: 9;
    transition: all 0.3s linear;
    text-shadow: #fcfcfc;

}
.container-fluid > .container > .content > .content_left > a > .text_content > .title {
    font-size: 14px;
} 
.container-fluid > .container > .content > .content_left > a:hover > .text_content > .title {
    color: brown;
}
.container-fluid > .container > .content > .content_left > a > .text_content > .description {
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.container-fluid > .container > .content > .content_left > a:hover > .text_content > .description {
    opacity: 1;
    visibility: visible;
}
.container-fluid > .container > .content > .content_left > a:hover > .text_content {
    bottom: 60px;
}
.container-fluid > .container > .content > .content_left > a > .time {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-weight: 20px;
    color: #fff;
    left: 20px;
    text-shadow: #fcfcfc;
    z-index: 8;
}
.container-fluid > .container > .content > .content_right {
     width: 30%;
     background-color: rgb(240, 222, 222);
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: repeat(2,246px);
     grid-row-gap: 6px;
}
.container-fluid > .container > .content > .content_right > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.container-fluid > .container1 > .content > .flag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
